.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 55px;
  background-color: white;
  border-bottom: 1px;
  border-bottom-color:rgb(224, 224, 224) ;
  border-bottom-style: solid;
  z-index: 100;
}

.left-section {
  display: flex;
  align-items: center;
}

.hamburger-menu{
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

.youtube-logo{
  height: 24px;
}

.middle-section {
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.search-bar{
  flex: 1;
  height: 36.5px;
  padding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  border-radius: 2px;
  box-shadow: insert 1px 2px 3px rgba(0, 0, 0, 0.05);
  width: 0;
}

.search-bar::placeholder{
  font-family: Roboto, Arial;
  font-size: 16px;
}

.search-button{
  height: 40px;
  width: 62px;
  border-width: 1px;
  border-color:rgb(192, 192, 192); 
  border-style: solid;
  margin-left: -1px;
  margin-right: 10px;
  background-color: rgb(247, 247, 247);
}

.search-icon{
  height: 25px;
  margin-top: 4px;
}

.voice-search-button{
  height: 40px;
  width: 40px;
  border: none;
  background-color: rgb(247, 247, 247);
  border-radius: 20px;
}

.voice-search-icon{
  height: 24px;
  margin-top: 2px;
}

.right-section {
  width: 180px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  width: 200px;
  flex-shrink: 0;
  align-items: center;
}

.upload-icon{
  height: 24px;
}

.youtube-apps-icon{
  height: 24px;
}

.notifications-icon{
  height: 24px;
}

.notifications-icon-container{
  position: relative;
}

.notifications-count{
  position: absolute;
  background-color: red;
  color: white;
  font-family: Roboto, Arial;
  font-size: 10px;
  border-radius: 5px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  top: -2px;
  right: -5px;

}
.mychannel-picture{
  height: 40px;
  border-radius: 20px;
}