.sidebar{
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  width: 72px;
  background-color: white;
  border-right: 1px;
  border-right-color: rgb(224, 224, 224) ;
  border-right-style: solid;
}